@use "../../scss" as *;

.header {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);

  padding: 2.8rem 2rem;
  margin-bottom: 2.6rem;

  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 5px, rgba(0, 0, 0, 0.08) 0px 2px 5px;
  border: 1px solid rgba(255, 255, 255, 0.9);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet() {
      max-width: $t-max;
      margin: 0 auto;
    }

    @include s-desktop() {
      max-width: $s-max;
    }

    @include m-desktop() {
      max-width: $m-max;
    }

    @include l-desktop() {
      max-width: $l-max;
    }
  }

  a:link,
  a:visited {
    font-size: 1.65rem;
    font-weight: 900;
  }

  &__toggle {
    input {
      opacity: 0;
      position: absolute;
    }

    label {
      background-color: #1bba9a;

      width: 62px;
      height: 32px;
      border-radius: 50px;
      position: relative;
      padding: 6px;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    label svg {
      width: 19px;
      height: 19px;
    }

    .moon {
      fill: #ffff44;
    }

    .sun {
      fill: #ffbb4d;
    }

    label span {
      background-color: #fff;
      width: 24px;
      height: 24px;
      position: absolute;
      left: 3px;
      top: 4px;
      border-radius: 50%;
    }

    input:checked + label span {
      transform: translateX(30px);
    }

    input:checked + label {
      background-color: #42454e;
    }
  }
}
