@use "./index" as *;

body {
  background: linear-gradient(90deg, #fcebeb 0, #eeeffb 58%);
}

#background {
  position: fixed;
  z-index: -100;
  width: 100%;
  height: 100vh;
}

.circle-bg {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  @include s-desktop() {
    max-width: 88rem;
  }

  @include m-desktop() {
    max-width: 118rem;
  }

  @include l-desktop() {
    max-width: 148rem;
  }

  & > div {
    position: absolute;
    opacity: 0.35;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(40px);
    filter: blur(40px);
    z-index: 1;
    width: 100%;
    height: 100vh;
  }
}

.circle-1 {
  top: 70rem;
  left: 67%;

  width: 20rem;
  height: 20rem;
  background: #fc448ea1;
  border-radius: 100%;
}

.circle-2 {
  top: 40rem;
  left: 50%;
  transform: translateX(-50%);

  width: 26rem;
  height: 26rem;
  background: linear-gradient(-26deg, #6bf3d8, #1bba9a);
  border-radius: 100%;
}

.circle-3 {
  top: 43rem;
  left: 67%;

  width: 20rem;
  height: 20rem;
  background: rgba(87, 80, 233);
  border-radius: 100%;
}

.circle-4 {
  top: 43rem;
  right: 67%;

  width: 20rem;
  height: 20rem;
  background: linear-gradient(-26deg, #e950d1, #f980d9);
  border-radius: 100%;
}

.circle-5 {
  top: 70rem;
  right: 67%;

  width: 20rem;
  height: 20rem;
  background: #ce81f8;
  border-radius: 100%;
}

@include s-desktop() {
  .circle-1 {
  }

  .circle-2 {
  }

  .circle-3 {
  }

  .circle-4 {
  }

  .circle-5 {
  }
}
