@use "../../../scss" as *;

.card {
  max-width: 26rem;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;

  box-shadow: rgba(0, 0, 0, 0.01) 0px 2px 5px, rgba(0, 0, 0, 0.08) 0px 2px 5px;

  figure {
    img {
      width: 26rem;
      height: 17rem;
      object-fit: cover;
    }
  }

  &__content {
    padding: 1.6rem 1.8rem 3rem;

    h2 {
      font-weight: 900;
      font-size: 1.8rem;
      margin-bottom: 1.4rem;
      letter-spacing: 0.5px;
    }
    ul {
      font-size: 1.55rem;
    }

    &--title {
      font-weight: 600;
    }
  }
}
