@use "../../scss/index" as *;

.wrapper {
  @include tablet() {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 auto 4rem;
    max-width: $t-max;
  }

  @include s-desktop() {
    max-width: $s-max;
  }

  @include m-desktop() {
    max-width: $m-max;
  }

  @include l-desktop() {
    max-width: $l-max;
  }
}
