@use "../../scss/index" as *;

.search {
  margin: 0 auto;
  max-width: 37.5rem;
  padding: 0 2rem;

  margin-bottom: 3.6rem;

  @include tablet() {
    max-width: none;
    padding: 0;
    margin: 0;
  }

  @include s-desktop() {
    width: 30%;
  }

  &__form {
    width: 100%;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    border-radius: 4px;
    font-size: 1.54rem;
    padding: 0.2rem 0.3rem;

    input[type="search"],
    button {
      border-radius: 2px;
    }

    input[type="search"] {
      padding: 0.6rem 0.54rem;
      font-weight: 600;
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
  }

  input {
    appearance: none;
    border: none;
    outline: 0;
  }

  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    appearance: none;
  }

  &__input {
    flex-grow: 1;
  }

  &__input[type="search"] {
    appearance: textfield;
    box-sizing: content-box;
  }

  &__submit {
    font-size: 2rem;
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    letter-spacing: 0.7px;
  }
}
