@use "../../scss" as *;

.dropdown {
  padding: 0 2rem;
  margin: 0 auto;
  max-width: 37.5rem;

  margin-bottom: 3.6rem;

  @include tablet() {
    max-width: none;
    padding: 0;
    margin: 0;
  }

  @include s-desktop() {
    width: 19rem;
  }

  &__wrapper {
    margin: 0 auto;
    max-width: 33.5rem;

    @include s-desktop() {
      max-width: none;
    }
  }

  &__contents {
    max-width: 18rem;
    position: relative;

    @include s-desktop() {
      max-width: none;
    }
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    padding: 1rem 1.4rem;
    font-size: 1.45rem;
    border-radius: 4px;
    margin-bottom: 4px;

    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  &__list {
    display: flex;

    flex-direction: column;
    gap: 1.2rem;
    font-weight: 600;

    position: absolute;
    z-index: 50;

    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    width: 100%;

    border-radius: 4px;
    padding: 1.2rem 1.8rem;
    font-size: 1.4rem;

    .active {
      pointer-events: none;
    }

    button {
      color: #2a2b2e;
      letter-spacing: 0.4px;

      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }
}
