@use "../../../scss/index" as *;

.group {
  max-width: 37.5rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  gap: 3.4rem;

  @include tablet() {
    max-width: $t-max;
    grid-template-columns: 1fr 1fr;
  }

  @include s-desktop() {
    max-width: $s-max;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4.4rem;
  }

  @include m-desktop() {
    max-width: $m-max;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @include l-desktop() {
    max-width: $l-max;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
